@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --navbar: #eff9fe;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: all 0.2s ease-out;
}

body {
  background-color: white;
  color: black;
}

header {
  animation: fade 2s ease-in forwards;
  background-color: var(--navbar);
  box-shadow: inset 5px 3px 8px rgb(0 0 0 / 0.05);
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.homebtn {
  width: 10px;
  height: 100%;
  position: relative;
}
.homebtn::after {
  top: 1px;
  content: "";
  border: 4px solid rgb(3, 3, 3);
  border-radius: 100%;
  width: 360%;
  /* background: #000; */
  height: 100%;
  position: absolute;
  transform: scale(1.4);
  transition: transform 0.5s ease-out;
}
.homebtn::before {
  top: 1px;
  content: "";
  width: 100px;
  background-color: var(--navbar);
  height: 100%;
  position: absolute;
  transition: width 0.5s ease-out;
}

.homebtn:hover::after {
  transform: scale(0);
}
.homebtn:hover::before {
  width: 0;
}

.contact {
  position: relative;
}

.contact:hover::after {
  animation: wipe-run 0.6s ease-out forwards;
  content: "";
  position: absolute;

  /* width: 100%; */
  height: 100%;
  background-color: rgb(10, 10, 10);
}

@keyframes wipe-run {
  0% {
    left: 0;
    right: 100%;
  }
  50% {
    left: 0;
    right: 0;
  }
  100% {
    left: 100%;
    right: 0;
  }
}

.panel {
  /* background-color: red; */
  transition: background-color 1s ease-out;
}

.blue {
  background: blue !important;
}

/* PLANET CSS */

.planetPositon {
  position: absolute;
  top: 35%;
  right: 20%;
  transform: rotateZ(-20deg);
  z-index: -1000;
}

.sun {
  animation: popInSun 0.3s ease-out 3.6s forwards;

  position: absolute;
  opacity: 0;

  left: -17%;
  top: -10%;
  width: 270px;
  height: 270px;
  background-color: rgb(24, 21, 42);
  border-radius: 100%;
}

.planet-container {
  animation: popIn 0.3s ease-out 3.5s forwards;
  position: absolute;

  border-radius: 50%;
  /* width: 200px; */
  /* height: 200px; */
  transform: scaleX(4);
  /* transform: rotateY(40deg); */
}

.planet {
  /* position: absolute; */
  animation: popInPlanet 0.3s ease-out 3.8s forwards;
  background-color: rgb(255, 169, 63);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  opacity: 0;
}

.revolve {
  height: 100%;
  width: 100%;
  animation: revo 10s infinite linear;
}

.revolve-container {
  width: 3.5rem;
  height: 3.5rem;
  animation: a 10s infinite linear;
}

@keyframes a {
  0% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes revo {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.planetIndex {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
  animation: switchBack 10s infinite;
}

@keyframes switchBack {
  0% {
    z-index: 10;
  }

  10% {
    z-index: -99;
  }

  30%,
  100% {
    z-index: 10;
  }
}

@keyframes popIn {
  0% {
    height: 0;
    width: 0;
    border: 1px solid rgb(255, 255, 255);
  }

  100% {
    border: 1px solid rgb(45, 40, 65);
    height: 200px;
    width: 200px;
  }
}
@keyframes popInPlanet {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(0.26);
    opacity: 1;
  }
}

@keyframes popInSun {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scaleX(0.25);
  }
}

/* WORK */

.bullets > li {
  /* background-color: aqua; */
  position: relative;
  animation: fade 1s ease-out forwards;
}

.bullets > li::before {
  position: absolute;
  content: " ";
  left: -30px;
  top: 8px;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  background-color: rgb(13, 15, 52);
}
.bullets > li::after {
  animation: grow 1.3s ease-out 1s infinite;
  position: absolute;
  content: " ";
  left: -23.5px;
  /* top: 8px; */
  /* bottom: -40px; */
  width: 2px;

  background-color: rgb(21, 19, 56);
  transition: height 1s ease-out;
}

@keyframes grow {
  0% {
    top: 22px;
    bottom: 50px;
  }
  50% {
    top: 22px;
    bottom: -40px;
  }
  100% {
    top: 100px;
    bottom: -40px;
  }
}

.bullets > li:last-child::after {
  animation: none;
}
.bullets > li:last-child::before {
  background-color: rgb(255, 176, 66);
}

.projects {
  position: relative;
}

.workItem {
  position: relative;
  /* animation: pop 2s ease-out forwards; */
  opacity: 0;
  z-index: 10;
  color: black;
}

.workItem:nth-child(2) {
  animation-delay: 200ms;
}
.workItem:nth-child(3) {
  animation-delay: 400ms;
}
.workItem:nth-child(4) {
  animation-delay: 600ms;
}
.workItem:nth-child(5) {
  animation-delay: 800ms;
}

@keyframes pop {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.workItem:hover::after {
  transform: scale(10);
  z-index: -1;
}
.workItem::before {
  transform: scale(10);
  content: "";
  position: absolute;
  top: 45%;
  left: 45%;
  border-radius: 100%;
  width: 10%;
  height: 10%;
  z-index: -1;
  background-color: white;
}
.workItem::after {
  background-color: rgba(255, 255, 63, 1);
  z-index: -1;

  transform: scale(0);
  transition: transform 0.3s ease-out;
  content: "";
  position: absolute;
  top: 45%;
  left: 45%;
  border-radius: 100%;
  width: 10%;
  height: 10%;
}

.connections > a {
  background-color: white;
  transition: background-color 0.3s ease-out;
  /* animation: pop 1s ease-out forwards; */
  opacity: 0;
}

.c-item:nth-child(2) {
  animation-delay: 400ms;
}
.c-item:nth-child(3) {
  animation-delay: 600ms;
}
.c-item:nth-child(4) {
  animation-delay: 800ms;
}

.git {
  color: black;
}
.tweet {
  color: rgb(84, 112, 236);
}
.linked {
  color: rgb(60, 60, 255);
}
.mail {
  color: rgb(255, 77, 77);
}

.connections > a:hover {
  color: white;
}

.git:hover {
  color: white;
  background-color: black;
}
.tweet:hover {
  color: white;
  background-color: rgb(84, 112, 236);
}
.linked:hover {
  color: white;
  background-color: rgb(60, 60, 255);
}
.mail:hover {
  color: white;
  background-color: rgb(255, 77, 77);
}

.popIn {
  animation: pop 1.2s ease-out 0.2s forwards;
}

.progressbar::before {
  animation: progress 3s ease-in-out infinite alternate;
}

@keyframes progress {
  0% {
    left: 30%;
  }
  100% {
    left: 85%;
  }
}

.grainy {
  filter: contrast(400%) brightness(150%);
  background: radial-gradient(circle at 76% 150%, rgba(113, 119, 86, 0.37), rgba(146, 114, 104, 0.29)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 62 62' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='9.89' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}
