@import url("https://fonts.googleapis.com/css2?family=Road+Rage&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");

body {
  background-color: #040f17;
  font-family: "Poppins", sans-serif;
  width: 100%;
  scrollbar-width: 0;
  overflow-x: hidden;
}
* {
  /* cursor: none !important; */
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.cursor {
  position: absolute;
  background-color: rgb(255, 255, 255);

  width: 35px;
  height: 35px;
  border-radius: 100%;
  pointer-events: none;
  /* animation: cursorPulse 0.8s infinite ease-out alternate-reverse; */
  mix-blend-mode: difference;
  transition-duration: 350ms;
  transition-timing-function: ease-out;
}

@keyframes cursorPulse {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

.cursorClick {
  animation: cursor-expand 0.4s ease-out forwards;
}

@keyframes cursor-expand {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
